body{
  margin: 0;
  padding: 0;
 }






 .buttons{
  height: 100dvh;
  width: 100%;
  background-color: #5fc694;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  
  
 }


.start-button{
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 15px;
   padding-bottom: 15px;
   font-size: 23px;
   font-weight: bold;
   border-radius: 16px;
   border-color:#355245 ;
   border-width: 3px;
   background-color :#355245;
   border-style: solid;
   z-index: 5;
   position: absolute;
   bottom: 110px;
   color: #eff0e7;
   transition: 0.2s;
   
}
.start-button:hover{
  box-shadow: 6px 6px 15px #335245;
  background-color: #e0e2d1;
  color: #355245;
  border-color :#e0e1d7;
  cursor:pointer;

}
.start-button:active{
      box-shadow: 4px 4px 25px;

}

.block1{
  display:flex;
  height: 600px;
  width: 600px;
  background-color:  #e8eae0;
  transform: rotate(-50deg);
  position: absolute;
  z-index: 2;
  box-shadow: 10px 0px 30px 10px;
   left: 900px;
  bottom:500px;
 
}


.block4{
  display:flex;
  height: 600px;
  width: 600px;
  background-color:  #e8eae0;
  transform: rotate(50deg);
  position: absolute;
  z-index: 2;
  box-shadow: 5px 10px 20px;
   right: 900px;
  bottom: 500px;
  
 
}

.block2{
  display:flex;
  height: 1000px;
  width: 3000px;
 background-color: #12372b;
  transform: rotate(47deg);
  position: absolute;
  z-index:3;
  box-shadow: 10px 10px 30px ;
  right:100px;
  bottom:10px;
  
}

.block3{
  display:flex;
  height: 1000px;
  width: 3000px;
  background-color: #13372b;
  transform: rotate(-47deg);
  position: absolute;
  z-index: 3;
  box-shadow: 10px 10px 30px;
  left:100px;
  bottom:10px;

 

 
}
.green{

   z-index: 6;
   color: #afc1b6;
   font-size: 65px;
   font-weight: bold;
   position: absolute;
   right: 150px;
   bottom: 400px;
  font-family: "Playfair Display", serif;
  
  
}
.content-boxs{

  z-index: 6;
  display: flex;
  position: absolute;
  width: 600px;
  color: #afc1b6;
  right: 5px;
  bottom:250px ;
  overflow: hidden;


}

.contents{

  font-size: 20px;
  font-family :Georgia, 'Times New Roman', Times, serif;
  color: #afc1b6;
  margin-bottom: 50px;
  line-height: 30px;
}